<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab One</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container>
    <ion-button (click)="onShowActionSheet()" expand="block" fill="solid" shape="round">
      Click me
    </ion-button>


    <ion-button (click)="onShowAlert()" expand="block" fill="solid" shape="round">
      Show Alert
    </ion-button>
    <ion-button (click)="onShowConfirm()" expand="block" fill="solid" shape="round">
      Show Confirm
    </ion-button>
    <ion-button (click)="onShowPrompt()" expand="block" fill="solid" shape="round">
      Show Prompt
    </ion-button>


    <ion-button (click)="onSetPreferences()" expand="block" fill="solid" shape="round">
      Set Preferences
    </ion-button>

    <ion-button (click)="onGetPreferences()" expand="block" fill="solid" shape="round">
      Get Preferences
    </ion-button>
  </ng-container>

</ion-content>
